<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h1>All our flats</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>You searched for . We found <%= @flats.size %> flats out of our <%= Flat.all.size %> on our website.</p>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-xs-12 col-md-4">

    <%= render "flat_card", flat: flat %>

    </div>
    <% end %>
  </div>
</div>
